<%= form_for(@car, html: {multipart: true}) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :car_images, @car.car_images.build do |ff| %>
    <%= ff.file_field :photo %>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
    <%= f.select :price_currency, ['UAH','USD','EUR'] %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
