<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>
<p>
        <% @car.car_images.each do |f| %>
          <%= image_tag f.photo.url(:medium) %>
        <% end %>
</p>
<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @car.price.format %>
</p>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
